USE [master]
GO
/****** Object:  Database [BoxingClubDB]    Script Date: 1/29/2024 7:50:21 PM ******/
CREATE DATABASE [BoxingClubDB]
GO
USE [BoxingClubDB]
GO
/****** Object:  Table [dbo].[Dodela]    Script Date: 1/29/2024 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dodela](
	[Takmicar] [int] NOT NULL,
	[Trener] [int] NOT NULL,
 CONSTRAINT [PK_Dodela] PRIMARY KEY CLUSTERED 
(
	[Takmicar] ASC,
	[Trener] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grad]    Script Date: 1/29/2024 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grad](
	[GradId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[PostanskiBroj] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Grad] PRIMARY KEY CLUSTERED 
(
	[GradId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorija]    Script Date: 1/29/2024 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorija](
	[KategorijaId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Kategorija] PRIMARY KEY CLUSTERED 
(
	[KategorijaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StarosnaKategorija]    Script Date: 1/29/2024 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StarosnaKategorija](
	[StKategorijaId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StarosnaKategorija] PRIMARY KEY CLUSTERED 
(
	[StKategorijaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Takmicar]    Script Date: 1/29/2024 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takmicar](
	[TakmicarId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Tezina] [int] NOT NULL,
	[DatRodj] [datetime] NOT NULL,
	[Kategorija] [int] NOT NULL,
	[StKategorija] [int] NOT NULL,
 CONSTRAINT [PK_Takmicar] PRIMARY KEY CLUSTERED 
(
	[TakmicarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trener]    Script Date: 1/29/2024 7:50:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trener](
	[TrenerId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Grad] [int] NOT NULL,
 CONSTRAINT [PK_Trener] PRIMARY KEY CLUSTERED 
(
	[TrenerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dodela]  WITH CHECK ADD  CONSTRAINT [FK_Dodela_Takmicar] FOREIGN KEY([Takmicar])
REFERENCES [dbo].[Takmicar] ([TakmicarId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Dodela] CHECK CONSTRAINT [FK_Dodela_Takmicar]
GO
ALTER TABLE [dbo].[Dodela]  WITH CHECK ADD  CONSTRAINT [FK_Dodela_Trener] FOREIGN KEY([Trener])
REFERENCES [dbo].[Trener] ([TrenerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Dodela] CHECK CONSTRAINT [FK_Dodela_Trener]
GO
ALTER TABLE [dbo].[Takmicar]  WITH CHECK ADD  CONSTRAINT [FK_Takmicar_Kategorija] FOREIGN KEY([Kategorija])
REFERENCES [dbo].[Kategorija] ([KategorijaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Takmicar] CHECK CONSTRAINT [FK_Takmicar_Kategorija]
GO
ALTER TABLE [dbo].[Takmicar]  WITH CHECK ADD  CONSTRAINT [FK_Takmicar_StarosnaKategorija] FOREIGN KEY([StKategorija])
REFERENCES [dbo].[StarosnaKategorija] ([StKategorijaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Takmicar] CHECK CONSTRAINT [FK_Takmicar_StarosnaKategorija]
GO
ALTER TABLE [dbo].[Trener]  WITH CHECK ADD  CONSTRAINT [FK_Trener_Grad] FOREIGN KEY([Grad])
REFERENCES [dbo].[Grad] ([GradId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Trener] CHECK CONSTRAINT [FK_Trener_Grad]
GO
USE [master]
GO
